
  /* Monochromatic colors */
  $mono-1: #f9f9f9;
  $mono-2: #f0f1f5;
  $mono-3: #c6ccd5;
  $mono-4: #5f6978;
  $mono-5: #132437;
  /* Action Colors */
  $danger: #ff214b;
  $success: #2fd072;
  $warning: #f5a623;
  $white: #fff;
  $black: #000;
  /* Accent colors */
  $accent-1: #f8e71c;
  $accent-2: #7842b9;
